{{ s_html|safe }}

<ul>
  <li> nothing: <code>{{ special_values.nothing }}</code> </li>
  <li> none: <code>{{ special_values.none }}</code> </li>
</ul>

<form action="http://127.0.0.1:5000/edit/{{ res["uuid"] }}" method="POST">
  <!--https://www.freecodecamp.org/news/html-form-input-type-and-submit-button-example/-->
  
  <label for="scheduled_date">scheduled date:</label>
  <input type="text" placeholder="Scheduled date" id="scheduled_date" name="scheduled_date"value="{{ special_values.nothing }}"/>
  
  <label for="status">status:</label>
  <select id="status" name="status">
    {% for k in states %}
    <option
      value="{{ k }}"
      {% if k == special_values.nothing %} selected="selected" {% endif %}
      >
      {{ k }}
    </option>
    {% endfor %}
  </select>

  <br>

  <label for="due">due date:</label>
  <input type="text" placeholder="Scheduled date" id="due" name="due" value="{{ special_values.nothing }}"/>

  <label for="URL">URL</label>
  <input type="text" placeholder="Scheduled date" id="URL" name="URL" value="{{ special_values.nothing }}"/>
  
  <br>
  
  <label for="comment">comment:</label>
  <input type="text" placeholder="comment" id="comment" name="comment"value="{{ special_values.nothing }}"/>

  
  <label for="action_comment">action comment:</label>
  <input type="text" placeholder="action_comment" id="action_comment" name="action_comment"value="{{ special_values.nothing }}"/>
  
  <input type="submit" value="edit" />
</form>

<ul>
  <li> <a href="http://127.0.0.1:5000/rolling_log/{{ res["uuid"] }}">rolling log</a></li>
  <li> <a href="http://127.0.0.1:5000/activity_list/{{ res["uuid"] }}">activity list</a></li>
  <li> <a href="http://127.0.0.1:5000/mark/{{ res["uuid"] }}"">engage</a> </li>
</ul> 
